.truncate-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Nombre de lignes à afficher */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

:root {
    --color-violet: #7c3aed;
    --color-error: #f56565;
    --color-success: #48bb78;
}

.accent {
    accent-color: var(--color-violet);
}