{% extends 'base.j2' %}

{% block title %}Réinitialisation du mot de passe - Gouel{% endblock %}

{% block content %}
<div class="container mx-auto p-4 text-white">
    <div class="max-w-sm mx-auto bg-gray-900 p-8 rounded-lg">
        <h2 class="text-3xl font-bold mb-4 text-center">Réinitialisation du mot de passe</h2>
        <p class="mb-4 text-center">Entrez votre adresse email pour recevoir les instructions de réinitialisation de mot
            de passe.</p>
        <form action="{{ url_for('main.forgot_password') }}" method="post">
            <div class="mb-6">
                <label for="email" class="block text-gray-300 mb-2">Email</label>
                <input type="email" id="email" name="email" required class="w-full px-3 py-2 rounded text-gray-900"
                    placeholder="Entrez votre email">
            </div>
            <button type="submit"
                class="w-full justify-center flex items-center block border-b-4 bg-blue-600 border-blue-800 hover:bg-blue-500 hover:border-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300">Envoyer</button>
        </form>
        <p class="text-gray-300 mt-6 text-center"><a href="{{ url_for('main.login') }}"
                class="text-blue-400 hover:text-blue-300">Retour à la connexion</a></p>
    </div>
</div>
{% endblock %}