<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de Création de Compte</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333;
        }

        h1 {
            color: #0056b3;
        }
    </style>
</head>

<body>
    <div>
        <h1>Bienvenue sur Gouel, {{user.FirstName}} {{user.LastName}} !</h1>
        <p>Votre compte a été créé avec succès.</p>
        {% if mdp_url %}
        <p>Pour vous connecter il faudra générer un nouveau mot de passe en cliquant sur le lien ci-dessous :</p>
        <a href="{{mdp_url}}">Réinitialiser mon mot de passe</a>
        <p>Une fois le mot de passe enregistré vous pourrez vous connecter en utilisant votre Email et votre mot de
            passe</p>
        <p>Attention ce lien n'est actif que dans les 24h après la création du compte</p>
        {% endif %}
        <br>
        <p>Si vous n'avez pas demandé la création de ce compte, veuillez ignorer ce message.</p>
    </div>
</body>

</html>