<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation de votre mot de passe</title>
</head>

<body>
    <div style="font-family: Arial, sans-serif; color: #333;">
        <h2 style="color: #0056b3;">Réinitialisation de votre mot de passe</h2>
        <p>Bonjour {{ user.FirstName }} {{ user.LastName }},</p>
        <p>Vous avez demandé à réinitialiser votre mot de passe sur Gouel. Pour procéder à la réinitialisation, veuillez
            cliquer sur le lien suivant :</p>
        <a href="{{ reset_password_url }}" target="_blank" rel="noopener noreferrer"
            style="color: #0056b3;">Réinitialiser mon mot de passe</a>
        <p>Ce lien est valide uniquement 60 minutes. Passé ce délai, vous devrez refaire une demande de
            réinitialisation de mot de passe.</p>
        <p>Si vous n'avez pas demandé à réinitialiser votre mot de passe, veuillez ignorer cet email.</p>
        <br>
        <p>Cordialement,</p>
        <p>L'équipe Gouel</p>
    </div>
</body>

</html>