<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation achat ticket</title>
</head>

<body>
    <div style="font-family: Arial, sans-serif; color: #333;">
        <h2 style="color: #0056b3;">Confirmation d'achat de votre ticket</h2>
        <p>Bonjour {{ user.FirstName }} {{ user.LastName }},</p>
        <p>Nous vous confirmons l'achat de votre ticket pour l'événement <a
                href="{{url_for('main.event', event_id=event_id, _external=True)}}" target="_blank"
                rel="noopener noreferrer">{{event_name}}</a>. Voici les détails de votre achat :</p>
        <ul>
            <li>Nom: {{ user.LastName }}</li>
            <li>Prénom: {{ user.FirstName }}</li>
            <li>Email: {{ user.Email }}</li>
            <li>ID du ticket: {{ ticketId }}</li>
        </ul>
        <p>Veuillez présenter le QR Code suivant à l'entrée de l'événement :</p>
        <p>Ce QRCode vous permettra d'entrer puis de payer sur place</p>

        <p>Connectez vous sur Gouel avec vos identifiants pour voir votre solde</p>
        <a href="{{url_for('main.login', _external=True)}}" target="_blank" rel="noopener noreferrer">Connexion à
            Gouel</a>

        <img src="data:image/png;base64,{{ qrcodeBase64 }}" alt="QR Code Ticket"
            style="max-width: 200px; display: block; margin: 0 auto;">
        <br>
        <p>Merci pour votre achat et à très bientôt !</p>
    </div>
</body>

</html>