<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Projet{% endblock %}</title>

    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.4/dist/tailwind.min.css" rel="stylesheet">


    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- iconoir -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />

    <!-- material icon -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!-- css basique -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
</head>

<body class="bg-gray-800">
    {% for cat, mesg in get_flashed_messages(with_categories=true) %}
    <span style="display: none;">{{cat}} {{mesg}}</span>
    <script>
        Swal.fire({
            icon: '{{ cat| lower}}',
            toast: true,
            position: "bottom-end",
            iconColor: 'white',
            background: 'var(--color-{{ cat| lower }})',
            color: 'white',
            title: "{{mesg}}",
            timerProgressBar: true,
            showConfirmButton: false,
            timer: 3000
        })
    </script>
    {% endfor %}

    {% block header %}
    {% include 'components/header.j2' %}
    {% endblock %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block footer %}{% endblock %}
</body>

</html>