<div class="bg-gray-900 h-screen p-4 flex flex-col items-center text-center">
    <div class="text-white flex flex-col items-center mb-6">
        <h3 class="text-xl font-bold">Compte</h3>
        <p>{{ user.prenom }} {{ user.nom }}</p>
        <p>{{ user.email }}</p>
    </div>
</div>