<div class="card bg-white rounded-lg shadow-md overflow-hidden flex flex-col">
    <img src="{{ url_for('static', filename='img/events/' + event_id) }}" alt="{{ event.Title }}"
        class="w-full h-32 sm:h-48 object-cover">
    <div class="p-4 flex-grow">
        <h3 class="text-lg font-bold text-gray-900">{{ event.Title }}</h3>
        <p class="text-gray-600 overflow-hidden text-ellipsis truncate-description">{{
            event.Description }}</p>
    </div>
    <div class="p-4">
        <a href="/event/{{ event_id }}"
            class="inline-block border-b-4 bg-purple-600 border-purple-800 hover:bg-purple-500 hover:border-purple-700 text-white py-2 px-4 rounded">Voir
            Plus</a>
    </div>
</div>