<!-- Bouton Retour -->
<div class="mb-4">
    <a href="javascript:history.back()"
        class="text-white-300 hover:text-purple-500 font-bold rounded transition duration-300 text-2xl">
        ← Retour
    </a>
</div>