{% extends 'base.j2' %}

{% block title %}Gestion des Tickets{% endblock %}

{% block content %}
<div class="container mx-auto p-4 text-white">
    {% include "components/retour.j2" %}
    <h2 class="text-3xl font-bold mb-4">Gestion des Tickets</h2>

    <div class="my-6 flex flex-wrap gap-4">
        <a href="{{ url_for('admin.manage_event_tickets', event_id=event_id) }}"
            class="border-b-4 bg-purple-600 border-purple-800 hover:bg-purple-500  hover:border-purple-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
            <span class="material-symbols-outlined mr-2">
                confirmation_number
            </span> Gérer les billets à vendre
        </a>
    </div>

    <!-- Statistiques des Tickets -->
    <div class="mb-6 rounded bg-gray-900 p-4">
        <div class="grid md:grid-cols-4 grid-cols-2 gap-4">
            <!-- Ticket Validés / Total des Tickets -->
            <div class="bg-gray-800 rounded p-4 flex flex-col justify-center items-center">
                <h3 class="font-bold text-white text-center">Tickets Validés / Total</h3>
                <p class="text-white">{{ tickets_valides }} / {{ tickets_total }}</p>
            </div>

            <!-- Total Prix Tickets -->
            <div class="bg-gray-800 rounded p-4 flex flex-col justify-center items-center">
                <h3 class="font-bold text-white text-center">Total Prix Tickets</h3>
                <p class="text-white">{{ total_prix_tickets }}€</p>
            </div>

            <!-- Total Dépensé en Crédits -->
            <div class="bg-gray-800 rounded p-4 flex flex-col justify-center items-center">
                <h3 class="font-bold text-white text-center">Total Dépensé en Crédits</h3>
                <p class="text-white">{{ total_depense_credits }}€</p>
            </div>

            <!-- Total cummulé -->
            <div class="bg-gray-800 rounded p-4 flex flex-col justify-center items-center">
                <h3 class="font-bold text-white text-center">Total cummulé</h3>
                <p class="text-white">{{ total_prix_tickets + total_depense_credits }}€</p>
            </div>
        </div>
    </div>



    <!-- Barre de Recherche -->
    <input type="text" id="searchTicket" placeholder="Rechercher un ticket..."
        class="shadow appearance-none border rounded w-full py-2 px-3 mb-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    <!-- Pagination -->
    <div class="py-4 flex justify-between">
        <!-- Bouton Page Précédente à gauche -->
        {% if pagination.has_prev %}
        <a href="{{ url_for('admin.manage_tickets', event_id=event_id, page=pagination.prev_num) }}"
            class="button border-b-4 bg-purple-600 border-purple-800 hover:bg-purple-500 hover:border-purple-700 text-white font-bold py-2 px-4 rounded">
            Précédent
        </a>
        {% else %}
        <span></span> <!-- Espace vide pour alignement -->
        {% endif %}

        <!-- Bouton Page Suivante à droite -->
        {% if pagination.has_next %}
        <a href="{{ url_for('admin.manage_tickets', event_id=event_id, page=pagination.next_num) }}"
            class="button border-b-4 bg-purple-600 border-purple-800 hover:bg-purple-500 hover:border-purple-700 text-white font-bold py-2 px-4 rounded">
            Suivant
        </a>
        {% endif %}
    </div>

    <!-- Liste des Tickets -->
    <div class="p-4 rounded-lg bg-gray-900 shadow-md">
        <div class="bg-purple-600 rounded-md p-4 mb-4 hidden md:grid grid-cols-4 gap-4">
            <span class="text-white text-center">Nom</span>
            <span class="text-white text-center">Prénom</span>
            <span class="text-white text-center">Email</span>
            <span class="text-white text-center">Ticket validé</span>
        </div>
        {% for ticket in tickets %}
        <div class="bg-gray-700 rounded-md p-4 mb-4" ticket-id="{{ticket.ID}}">
            <div class="md:grid grid-cols-4 gap-4">
                <div class="md:hidden text-white mb-2"><strong search-key>Nom:</strong> {{ ticket.User.LastName }}</div>
                <div class="md:hidden text-white mb-2"><strong search-key>Prénom:</strong> {{ ticket.User.FirstName }}
                </div>
                <div class="md:hidden text-white mb-2"><strong search-key>Email:</strong> {{ ticket.User.Email }}</div>
                <div class="md:hidden text-white mb-2"><strong>Ticket Validé:</strong> {{ 'Oui' if ticket.IsUsed else
                    'Non' }}</div>

                <span class="text-white text-center hidden md:block" search-key>{{ ticket.User.LastName }}</span>
                <span class="text-white text-center hidden md:block" search-key>{{ ticket.User.FirstName }}</span>
                <span class="text-white text-center hidden md:block" search-key>{{ ticket.User.Email }}</span>
                <span class="text-white text-center hidden md:block">{{ 'Oui' if ticket.IsUsed else 'Non' }}</span>
            </div>
        </div>
        {% endfor %}
    </div>

</div>





<script>
    searchTicket.addEventListener('keyup', () => {
        const search = searchTicket.value.toLowerCase();
        const tickets = document.querySelectorAll('[ticket-id]');
        tickets.forEach(ticket => {
            const searchKeys = ticket.querySelectorAll('[search-key]');

            let found = false;
            searchKeys.forEach(key => {
                if (key.textContent.toLowerCase().includes(search)) {
                    found = true;
                }
            });

            if (found) {
                ticket.style.display = 'block';
            } else {
                ticket.style.display = 'none';
            }
        })
    })
</script>
{% endblock %}